<!DOCTYPE html>
<html lang="en">
<head>
    <title>SUI</title>
    <meta charset="utf-8">
    <meta name="description" content="a startpage for your server and / or new tab page">
    <meta http-equiv="Default-Style" content="">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link type="text/css" rel="stylesheet" href="style.css" media="screen,projection"/>
</head>

<body>

    <main id="container" class="fade">
        <section id="apps">
            <h3>Applications</h3>
            <div id="apps_loop">
                {{range $group_name, $group := .Apps}}
                    <div id="links_item">
                        <h4>{{$group_name}}</h4>
						{{range $group}}
		                    <div class="apps_item">
		                        <a href="{{.URL}}" style="display: flex;">
		                        <div class="apps_icon">
									{{.ColorizedIcon}}
		                        </div>
		                        <div class="apps_text">
		                            {{.Name}}
		                            <span id="app-address">{{.URL}}</span>
		                        </div>
		                        </a>
		                    </div>
						{{end}}
					</div>
                {{end}}
            </div>
        </section>
    </main>
</body>
</html>

